<form [formGroup]="competitionForm" (ngSubmit)="create()">
  <div class="mb-3">
    <label class="form-label">Code:</label>
    <input class="form-control" formControlName="code">
  </div>
  <div class="mb-3">
    <label class="form-label">Date:</label>
    <input class="form-control" formControlName="date">
  </div>
  <div class="mb-3">
    <label class="form-label">Start Time:</label>
    <input class="form-control" formControlName="startTime">
  </div>
  <div class="mb-3">
    <label class="form-label">End Time:</label>
    <input class="form-control" formControlName="endTime">
  </div>
  <div class="mb-3">
    <label class="form-label">Number of Participants:</label>
    <input class="form-control" formControlName="numberOfParticipants">
  </div>
  <div class="mb-3">
    <label class="form-label">Location:</label>
    <input class="form-control" formControlName="location">
  </div>
  <div class="mb-3">
    <label class="form-label">Amount:</label>
    <input class="form-control" formControlName="amount">
  </div>
  <button class="btn btn-success">Save Competition</button>


</form>

