<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Average Weight</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fish of fishes">
    <td>{{ fish.id }}</td>
    <td>{{ fish.name }}</td>
    <td>{{ fish.averageWeight }}</td>
    <td>
      <button (click)="deleteFish(fish.id)" class="btn btn-outline-danger">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #noFish>
  <p>No fish available.</p>
</ng-template>
