<table class="table container" style="margin-top:25px;width:850px">
  <thead>
  <tr class="text-center">
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Average Weight</th>
    <th scope="col">Points</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-center" *ngFor="let fish of fishes">
    <td>{{ fish.id }}</td>
    <td>{{ fish.name }}</td>
    <td>{{ fish.averageWeight }}</td>
    <td>{{ fish.level.points }}</td>
    <td>
      <button class="btn btn-outline-warning" [routerLink]="['/AddHunting']" [queryParams]="{ memberId:memberId,competitionId:competitionId,fishId:fish.id }">
        <i class="bi bi-trash">select</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!--<ng-template #noFish>
  <p>No fish available.</p>
</ng-template>-->
