{{memberForm.value | json}}

  <form [formGroup]="memberForm" (ngSubmit)="create()">
  <div class="mb-3">
    <label class="form-label">Number:</label>
    <input class="form-control" formControlName="num">
  </div>
  <div class="mb-3">
    <label class="form-label">Name:</label>
    <input class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label class="form-label">FamilyName:</label>
    <input class="form-control" formControlName="familyName">
  </div>
  <div class="mb-3">
    <label class="form-label">AccessionDate:</label>
    <input class="form-control" formControlName="accessionDate">
  </div>
  <div class="mb-3">
    <label class="form-label">Nationality:</label>
    <input class="form-control" formControlName="nationality">
  </div>
  <div class="mb-3">
    <label class="form-label">IdentityDocumentType:</label>
    <input class="form-control" formControlName="identityDocumentType">
  </div>

    <div class="mb-3">
      <label class="form-label">IdentityNumber:</label>
      <input class="form-control" formControlName="identityNumber">
    </div>

    <button class=" btn btn-success">Save</button>


</form>
